body {
	max-width: 600px;
	margin: 25px auto 0;
	text-align: justify;
	text-justify: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	padding: 25px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	font-size: 16px;
	font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
	body, a {
		background-color: #222;
		color: #eee;
	}

	a:hover {
		color: #898989;
	}

	header img {
		filter: invert(100%);
	}
}

@media (prefers-color-scheme: light) {
	body, a {
		background-color: #eee;
		color: #222;
	}

	a:hover {
		color: #6c6c6c;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 22px;
	}
	footer a {
		display: block;
		width: 90%
	}
}

dt {
	font-weight: bold;
	margin-top: 10px;
}

dl {
	margin: 30px auto;
	max-width: 400px;
	text-align: left;
}

dd ul, dd ul li {
	margin-left: 0px;
	padding-left: 0px;
}

header {
	text-align: center;
}

header img {
	max-width: 100%;
	max-height: 200px;
}

#langln {
	font-size: smaller;
	float: right;
}

.small {
	font-size: smaller;
}

.alert {
	color: red;
	font-weight: bold;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
